/* 
	http://meyerweb.com/eric/tools/css/reset/ 
   	v2.0 | 20110126
   	License: none (public domain)

   	Cozy Corner - Book store

	Fonts:
		headings: Dosis Sans (Google Fonts)
		body:  Open Sans (from Google Fonts)
		   
	Font Weights:
		heading: 200
		body: 300

	Colors:
		body: #757575	
		light on dark heading: #fff
		dark on light heading: #323d47
		buttons: #b34031/#fff
		button hover: #ca4e3e
		links: #b34031
		label bgcolor: background-color: rgba(0,0,0,.1);
		dark background: #305d74
		gray background: #fafbfb
	

*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1.5;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Start your code here: */

body {
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
}

.container {
	position: relative;
	height: 100%;
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 15px;
}

.light-text {
	color: #fff;
}

.dark-text {
	color: #323d47;
}

h1,h2,h3,h4,h5,h6 {
	font-family: 'Dosis', sans-serif;
}

h1 {
	font-size: 56px;
	font-weight: 200;	
}

h2 {
	font-size: 33.7px;
	font-weight: 400;
}

.center-text {
	text-align: center;
}

.logo-top img {
	display: block;
	text-indent: -9999px;
	width: 250px;
	color: #fff;
}

.top-filter {
	padding: 145px 20px 20px 20px;
	backdrop-filter: blur(20px);
}

.top-header {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 1000;
}

.top-hamburger {
	visibility: hidden;
	position: absolute;
	top: 1%;
	left: 1%;
}

.top-nav {
	padding: 20px 0;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}

.top-nav ul li {
	position: relative;
	display: inline-block;
	margin: 20px 10px 0;
	padding: 0 0 20px 0;
	text-transform: uppercase;
	font-size: 13px;
}

.top-nav ul li:hover ul {
	visibility: visible;
	top: 30px;
	opacity: 100%;
}


.top-nav ul li ul {
	position: absolute;
	top: 20px;
	left: -10px;
	visibility: hidden;
	opacity: 0;
	transition: opacity 0.5s ease, top 0.2s ease;
	width: 160px;
	padding: 20px;
	background: #fff;
	color: rgba(117,117,117,.8);	
	border-radius: 5px;
}

.top-nav ul li ul li {
	display: block;
	margin: 0;
	padding: 5px 5px 5px 0;
}

.top-nav ul li ul li a {	
	color: rgba(117,117,117,.8);
	text-transform:none;
}

.top-nav ul li ul li a:hover {	
	color: #000;
	text-transform:none;
}

.top-header a {
	text-decoration: none;
	font-weight: 600;
	letter-spacing: 1px;
	color: rgba(255,255,255,.65);
}

.top-nav a .arrow {
	display: inline-block;
	height: 0;
	width: 0;
	margin: 3px 0 3px 5px;
	border-top: 3px solid rgba(255,255,255,.65);
	border-bottom: none;
	border-left: 3px solid transparent;
    border-right: 3px solid transparent;
}

.top-section {
	background-image: url("../assets/design-images/bookcase-books-collection-cover.jpg");
	background-size: cover;
	background-color: #464646;
	height: 100vh;	
}

.section-header {
	text-align: center;
    max-width: 70%;
    margin: 0 auto 70px;
}


.full-section {	
	padding: 90px 0;
}

.gray-bg {
	background-color: #fafbfb;
}

.dark-bg {
	background-color: #305d74;
}

.btn {
	position: relative;
	display: inline-block;	
	padding: 10px 20px;
	font-family: 'Open Sans', sans-serif;
	text-transform: uppercase;
	text-decoration: none;
	text-align: center;
	vertical-align: middle;
	letter-spacing: 1.7px;
	font-size: 11px;
	font-weight: 600;
	line-height: 2;
	border: 1px solid transparent;	
	border-radius: 5px;
	user-select: none;
	cursor: pointer;
}

.btn-1 {
	color: #fff;
	background-color: #b34031;
}

.btn-2 {
	color: #b34031;
	background-color: none;
	border: 1px solid #b34031;
}

.btn-cap-dark {
	position: absolute;
	top: 0;
	left: 0;
	padding: 10px 15px;
	background-color: rgba(0,0,0,.1);
}

.btn-cap-left {
	padding-left: 65px;
}

.pg-1 {
	font-size: 18px;
	margin: 0 0 15px 0;
}

.pg-2 {
	margin: 25px 0;
	font-size: 18px;
	font-weight: 300;
	line-height: 1.9
}

.pg-3 {
	margin-bottom: 15px;
	font-size: 26px;
	font-weight: 300px;
}

.pg-4 {
	font-size: 14px;
}

a.small {
	font-size: 12px;
	font-weight: 400;
	color: #b34031;
	text-decoration: none;
}

.flex-row-wrapper {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-evenly;
}

.card {
	background: #fff;
	width: 300px;
	margin: 10px;
	padding: 20px;
	border: 1px solid #f1f2f3;
	border-radius: .25rem;
}

.card.large {
	width: 535px;
	border: none;
	box-shadow: 1px 1px 10px #ccc;
}

.card.full {
	width: 100%;
	border: none;
	box-shadow: 1px 1px 10px #ccc;
}

.card a.small i {
	margin-left: 5px;
}

.form-wrapper {
	display: flex;
	justify-content: center;
	text-align: center;
}

#contact-form {
	margin: 0 auto;
}

.contact-input,
.contact-message {
	padding: 5px 15px;
	font-weight: 300;
	line-height: 2.2;
	border: 1px solid #eaeff4;
}

.contact-message {
	width: 100%;
}

.page-footer {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: flex-start;
	padding: 50px 0;
	border-top: 1px solid #f1f2f3;
}

.bottom-info {
	width: 500px;
}

.logo-bottom img {
	width: 250px;
	margin-bottom: 20px;
}

/* Footer Social Links */

.page-footer .social-links {
	margin-top: 15px;
}

.page-footer .social-links a {
	display: inline-block;
	font-size: 15px;
	height: 28px;
	width: 28px;
	line-height: 28px;
	color: #fff;
	text-align: center;
	border-radius: 3px;
}

.bottom-info .social-twitter {
	background-color: #00aced;
}

.bottom-info .social-facebook {
	background-color: #3b5998;
}

.bottom-info .social-youtube {
	background-color: #b00;
}

.bottom-info .social-linkedin {
	background-color: #007bb6;
}


.page-footer nav {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
}

.page-footer dl {
	margin: 10px;
}

.page-footer dl a {
	text-decoration: none;
	color: #757575;
	font-size: 15px;
}

.page-footer dt a {
	font-family: 'Dosis', sans-serif;
	color: #323d47;
	font-size: 17px;
	font-weight: 600;
}

@media all and (max-width: 500px) {
	.top-nav .btn {
		display: none;
	}

	.top-nav ul {
		display: none;
	}

	.top-hamburger {
		visibility: visible;
	}

	.page-footer {
		padding: 50px;
	}
}